<app-header></app-header>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div align="center">
  <form #formvalue ='ngForm' ngNativeValidate  method="post" (ngSubmit) = "onsubmit(formvalue.value)">
    <label for="name">Name</label>
    <br>
    <input type="text" name="name" id='name' placeholder="name" pattern="[A-Za-z ]+" title="Numeric characters are not allowed"  required ngModel>
    <br>
    <br>
    <p>Search By:</p>
      <input type="radio" id="number" name="search" value="number" (click)="numbersearch()">
      <label for="number">Phone Number</label>
      <br>
      <input type="radio" id="email" name="search" value="email" (click)="emailsearch()">
      <label for="email">Email</label>
    <br>
    <br>
    <p>Select from option above to make a filtered search</p>
<div id='searchbynumber' style="visibility:hidden">
  <input type='text' name='number'  placeholder='enter number' pattern="^[0-9]{10}$" title="Enter a 10 digit number" ngModel>
  </div>
  <div id='searchbyemail' style="visibility:hidden">
    <input type='text' name='email' placeholder='enter email' pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"  title="Enter a valid email" ngModel>
    </div>
    <br>
  <input type="submit">

  </form>
  </div>
